.wrapper {
   padding: 10px 10px;
   border: 2px solid white;
   border-radius: 7px;
   background-color: white;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
}
.container {
   display: flex;
   gap: 20px;
   align-items: center;
   overflow: hidden;
   text-overflow: clip;
   width: auto;
   &-input {
      & span {
         & input {
            width: 20px;
            height: 20px;
            cursor: pointer;
         }
      }
   }
   &-img {
      max-width: 100px;
      max-height: 100px;
      & img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   & .container-content {
      color: var(--color-text-black);
      display: flex;
      gap: 10px;
      flex-direction: column;
      justify-content: center;
      font-size: 16px;
      overflow: hidden;
      width: auto;
      flex: 1;

      & p {
         margin: 0;
      }
      & .content-title {
         font-size: 18px;
         font-weight: 600;
         height: 50px;
         color: var(--color-text-black);
         overflow: hidden;
         line-height: 1.5rem;
         display: flex;
         align-items: center;
      }
      & .content-des {
         height: 50px;
         color: var(--color-light-black);
         font-style: italic;
         overflow: hidden;
      }
   }
   & .container-price {
      display: flex;
      flex-direction: column;
      color: var(--color-text-black);
      justify-content: center;
      align-items: flex-end;
      & span {
         font-weight: 500;
         font-style: italic;
      }
   }
}
