.wrapper {
   height: auto;
   color: var(--color-text-black);
   padding-bottom: 20px;
}
.header {
   padding: 10px 0;
   & span {
      font-weight: 500;
      font-size: 20px;
   }
}
.loading {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: rgba(145, 145, 145, 0.295);
   display: flex;
   flex: 1;
   justify-content: center;
   align-items: center;
   z-index: 1;
}
.message {
   position: absolute !important;
   right: 3%;
   top: 5%;
   z-index: 4;
   animation: show 0.5s ease-in-out forwards;
}
.container-mobile {
   display: flex;
   flex-direction: column;
   gap: 10px;
}
