.wrapper {
   height: 100%;
   color: var(--color-text-black);

   & h4 {
      margin-bottom: 20px;
   }
}
.product {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   grid-gap: 25px 15px;
}
