.wrapper {
   width: 100%;
   height: 100%;
}

.input_file {
   display: flex;
   justify-content: center;
}
.container {
   display: flex;
   flex: 1;
   gap: 15px;
}
.container-img {
   width: 100%;
   height: 100%;
   max-width: 300px;
   display: flex;
   flex-direction: column;
   gap: 20px;
   & img {
      height: 100%;
      width: 100%;
      max-height: 320px;
      object-fit: cover;
      border: 2px solid rgb(168, 14, 96);
      border-radius: 7px;
      padding: 3px;
   }
}
.container-wrapper {
   display: flex;
   flex-direction: column;
   flex: 1;
   & .contents {
      display: flex;
      flex-direction: column;
      gap: 20px;
      & .contents-title {
         font-size: 20px;
         font-weight: 500;
         padding: 10px;
         border: 1px solid #ced4da;
         border-radius: 7px;
      }
      & .contents-des {
         font-style: italic;
         font-weight: 400;
         & textarea {
            height: calc(100% - 22px);
            max-height: 200px;
         }
      }
      & .contents-id {
         & > p {
            margin: 0;
         }
      }
   }
   & .buy-product {
      flex: 1 auto;
      display: flex;
      align-items: flex-end;
      & form {
         flex: 1;
         display: flex;
         flex-direction: column;
         gap: 5px;
         & .input-group {
            display: flex;
            gap: 20px;
            margin: 20px 0;
            align-items: center;
            & label {
               margin: 0;
            }
            & span {
               border: 1px solid #ced4da;
               border-radius: 7px;
               padding: 0 11px;
            }
            & input {
               width: auto;
               height: 40px;
            }
            & .amount {
               color: var(--color-light-black);
               font-style: italic;
            }
         }
         & .price {
            font-style: italic;
            font-weight: 600;
            color: var(--color-light-orange);
            font-size: 20px;
            display: flex;
            align-items: center;
            gap: 10px;
            border: 1px solid #ced4da;
            border-radius: 7px;
            padding: 5px;
            & input {
               font-style: italic;
               font-weight: 600;
               color: var(--color-light-orange);
               border-bottom: 2px solid rgba(168, 0, 64, 0.775);
            }
         }
         & button {
            width: 40%;
            margin: 0 auto;
            font-weight: 500;
         }
         & .form-button {
            display: flex;
            gap: 10px;
         }
      }
   }
}
.contents-input {
   position: relative;
}
input {
   transition: 0.4s;
   width: 100%;
   border: none;
   outline: none;
}
.input-des {
   border: none;
}
.loading {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: #000;
   opacity: 0.5;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 3;
}

.message {
   position: absolute;
   top: 1%;
   left: 50%;
   transform: translateX(-50%);
}
@media screen and(max-width: 991px) {
   .container {
      display: flex;
      flex-direction: column;
      .container-img {
         width: 100%;
         height: 250px;
         max-width: none;
         gap: 10px;
         & img {
            height: 100%;
            width: 100%;
            max-height: 205px;
         }
      }
   }
}
@media screen and(max-width: 501px) {
   .wrapper {
      & > div {
         margin: 0;
         height: 100%;
         & > div {
            height: 100%;
         }
      }
   }
   .container-wrapper {
      & .contents {
         flex: 1;
         & .contents-des {
            flex: 1;
         }
      }
      & .buy-product {
         flex: none;
         & form {
            gap: 10px;
            & .input-group {
               margin: 0;
            }
            & .price {
               margin-bottom: 20px;
            }
         }
      }
   }
   .container {
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
   }
}
