.wrapper {
   background-color: white;
   border: 0.5px dashed black;
   border-radius: 5px;
}
.container {
   display: flex;
   flex-direction: column;
   padding: 5px 10px;
   & > span {
      text-align: center;
   }
}
.contents {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
   & .item {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 0 5px;
      & span {
         -webkit-line-clamp: 2;
         -webkit-box-orient: vertical;
         overflow: hidden;
         display: -webkit-box;
      }
      & .title {
         font-weight: 500;
      }
   }
}
