.wrapper {
   flex: 1;
   width: 100%;
   min-width: 190px;
   max-width: 240px;
   position: relative;
   transition: ease-in-out 0.5s;
}
.navbar {
   padding: 25px 0 25px 0 !important;
   background-color: rgb(20, 24, 55);
   height: 100%;
   flex-direction: column;
   justify-content: space-between !important;
   gap: 20px;

   & .user {
      width: 100%;
      padding: 5px 12px;
      display: flex;
      justify-content: space-between;
      color: var(--color-text-white);
      gap: 10px;

      & .user-card {
         & .card-img {
            display: flex;
            width: 43px;
            height: 43px;
            border-radius: 100rem;
            font-size: 27px;
            border: 3px solid white;
            justify-content: center;
            align-items: center;
         }
      }
      & .info {
         flex: 1 1 auto;
         display: flex;
         flex-direction: column;
         overflow: hidden;
         text-overflow: ellipsis;
         justify-content: center;
         & .info-email {
            color: var(--color-dark-white);
            font-style: italic;
         }
      }
   }
   & .container {
      flex: 1;
      & > div {
         display: flex;
         flex-direction: column;
         height: 100%;
         justify-content: flex-start !important;
         gap: 15px;
         overflow: hidden;
         overflow-y: auto;
         width: 100%;
         &::-webkit-scrollbar {
            display: none;
         }
      }
      overflow: hidden;
      visibility: visible;
   }
   & .logout {
      width: 100%;
      padding: 0 12px;
   }
   .nav-link {
      width: 100%;
      display: flex;
      padding: 10px;
      font-size: 15px;
      color: var(--color-text-white);
      color: var();
      align-items: center;
      border-radius: 6px;
      // border-bottom-right-radius: 6px;
      // border-top-right-radius: 6px;
      // border-bottom-left-radius: 2px;
      // border-top-left-radius: 2px;
      & svg {
         margin-right: 15px;
      }
      & span {
         flex: 1;
         transition: ease-in-out 0.5s;
      }
      &:hover {
         background-color: var(--color-light-green);
         color: var(--color-text-black);
         transition: 0.5s;
      }
   }
}

#active {
   background-color: var(--color-light-green);
   color: var(--color-text-black);
   font-weight: 700;
}
.show-hide {
   padding: 0 15px;
   display: flex;
   width: 100%;
   align-items: center;
   gap: 15%;
   & .brand {
      color: rgb(61, 222, 77);
      transition: ease-in-out 0.2s;
      font-weight: 600;
      font-size: 25px;
      cursor: default;
   }
   & button {
      padding: 0;
      border-radius: 10px;
      border: none;
      & svg {
         font-size: 35px;
      }
      transition: ease-in-out 0.5s;
   }
}
@keyframes show {
   0% {
      transform: translateX(-100%);
   }
   100% {
      transform: translateX(0%);
   }
}

@media screen and (max-width: 501px) {
   .wrapper {
      display: none;
      position: absolute;
      z-index: 5;
      top: 0;
      bottom: 0;
      animation: ease-in-out 0.5s;
      animation-name: show;
   }
}
