.wrapper {
   cursor: pointer;
   text-align: center;
   font-style: italic;
   &:hover small {
      color: rgb(166, 41, 141) !important;
   }
}
.modal_login {
   & > div {
      height: 100%;
      margin: 0 auto;
      & > div {
         min-height: 600px;
         width: 85%;
         margin: 0 auto;
         & .body-login {
            display: flex;
         }
         & .header_login {
            position: relative;
            & > div {
               left: 50%;
               position: absolute;
               transform: translateX(-50%);
               font-size: 28px;
            }
         }
      }
   }
}
.container {
   flex: 1 1 auto;
   & .contents-wrapper {
      height: 100%;
      display: flex;
      align-items: center;
      width: 50%;
      margin: 0 auto;
      & form {
         flex: 1;
         display: flex;
         flex-direction: column;
         justify-content: center;
         gap: 5px;
         & > div {
            width: 100%;
         }
      }
      & button {
         width: 70%;
         margin: 0 auto;
         margin-top: 10px;
         margin-bottom: 10px;
      }
   }
}

@media screen and (max-width: 990px) {
   .container {
      & .contents-wrapper {
         width: 85%;
      }
   }
}

.loading {
   position: absolute;
   background-color: rgba(0, 0, 0, 0.15);
   width: 100%;
   height: 100%;
   z-index: 2;
   display: flex;
   justify-content: center;
   align-items: center;
}
