.wrapper {
   height: 100%;
   position: relative;
}
.input-search {
   width: 50% !important;
   margin-top: 1rem !important;
   margin: 0 auto;
   border-radius: 10px;
   & input {
      border-radius: 10px;
      box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
         rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
         rgba(240, 46, 170, 0.05) 25px 25px;
      &:focus {
         box-shadow: none;
      }
   }
}
.add-category {
   & td {
      text-align: center;
      cursor: pointer;
   }
}
.new-field {
   & td {
      height: 45px;
      vertical-align: middle;
      & input {
         border-radius: 4px;
         outline: none;
      }
   }
   .input-field {
      display: flex;
      gap: 10px;
   }
}
.loading {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: rgba(145, 145, 145, 0.295);
   display: flex;
   flex: 1;
   justify-content: center;
   align-items: center;
   z-index: 3;
}
.message {
   position: absolute !important;
   right: 0;
   top: 5%;
   animation: show 0.5s ease-in-out forwards;
}
@keyframes show {
   0% {
      opacity: 0;
      transform: translateX(100%);
   }
   100% {
      opacity: 1;
      transform: translateX(0%);
   }
}
@media screen and (max-width: 415px) {
}
